Backend/node_modules
/node_modules
Backend/config/dev.env
*.env
frontend-user/node_modules
notes.json
frontend-user/.vite
admin-dashboard/node_modules/
admin-dashboard/.angular

frontend-user/dist
frontend-user/.vite
